
.admin-dashboard {
  padding: 20px;
}

.admin-dashboard h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.admin-dashboard h3 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}


.admin-dashboard li {
  width: 300px;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.admin-dashboard li img {
  max-width: 100px;
  margin-bottom: 10px;
}

.admin-dashboard li p {
  margin: 5px 0;
}

.loading,
.error {
  font-size: 1.2em;
  text-align: center;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.added-products{
  width: 100%;
  height: auto;
  align-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.added-products ul{
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.order{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 3px solid blue;
}
.order ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.order ul .customer-order {
  position: relative;
  height: 340px;
}
.order ul li .customer-order-details{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.order ul li .customer-order-details li{
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 0;
  height: 150px;
}
