.admin-dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.admin-dashboard h2, .admin-dashboard h3 {
  margin-bottom: 20px;
}

.admin-dashboard ul {
  list-style-type: none;
  padding: 0;
}

.admin-dashboard li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

  .loading{
    color: green;
    text-align: center;
    margin: 150px auto;

  }
  