.product-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(102, 102, 102, 0.1);
}
.product-list select, .product-list select option{
  padding: 10px;
}
.product-container{
  display: grid;
  place-content: center;
  grid-template-columns: auto auto auto;
  align-items: center;
  align-content: center;
}
.product-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 10px;
  background: white;
  box-sizing: border-box;
  border-radius: 20px;
}
.product-box img{
  top: 0;
  width: 300px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.product-box h3{
  color: #666;
}

.product-select option, .product-select{
  color: white;
  background: #000;
  margin: 4px;
}

.explore-more-button, .view-product-button{
width: 120px;
height: 40px;
margin: 0px 15px;
padding: 0px 15px;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
background: #000;
color: white;
 bottom: 0;
}
.explore-more-button{
  background: blue;
}
.explore-more-button:hover, .view-product-button:hover{
  background: #1a1760;
  color: aqua;
}
.productlist-button{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 760px){
  .product-list{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .product-container{
      display: grid;
      place-content: center;
      grid-template-columns:  auto auto;
  }
  .product-box{
     width: 300px;
      align-items: center;
      align-content: center;
  }
  .productList-button{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 480px){
  .product-container{
      display: grid;
      place-content: center;
      grid-template-columns: auto auto;
      
  }
  .product-box{
     width: 180px;
     height: 320px;
      display: flex;
      align-items: center;
      align-content: center;
      margin: 20px 10px;
  }
  .product-box img{
      height: 130px;
      width: 180px;
  }
  .explore-more-button, .view-product-button{
    width: 70px;
    margin: 0px 5px;
    padding: 0px 5px;
    border-radius: 10px;
    font-size: 12px;
    }
   
}