/* src/pages/SingleProductPage.css */

.single-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.single-product img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.single-product h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.single-product p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #666;
}