.contact-form{
    display: flex;
    align-items: center;
    height: 500px;
    background: #826afb;
}

.contact-form form{
    max-width: 400px;
    background: #fff;
    padding: 2px 5px 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333;
    margin: 10px;
}

.contact-form form h1{
   font-size: 25px;
   text-align: center;
}
.contact-form form .input-box{
    margin-top: 15px;
}
.contact-form form .input-box .field{
    width: 90%;
    height: 40px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 5px;
    font-size: 15px;
    color: #333;
    margin-top: 5px;
}
.contact-form form .input-box .field.message{
    height: 100px;
    resize: none;
}
.contact-form form button{
    background: #826afb;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 15px;
}
.contact-form form button:Hover{
   background: blueviolet;
}