.App {
  text-align: center;
}


.homepage-watsap {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top:600px;
  left: 77%;
  width: 270px;
  height: 65px;
  color: white;
  font-weight: 200;
  background: rgb(66, 200, 66);
  border-radius: 40px;
  position: fixed;
  box-shadow:1px 2px 5px grey ;
}
.homepage-watsap span{
  color: black;
  margin-left: 20px;
}