.App {
  text-align: center;
}
li, a{
  list-style: none;
  text-decoration: none;
}


.homepage-watsap {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top:600px;
  left: 80%;
  width: 270px;
  height: 65px;
  color: white;
  font-weight: 200;
  background: rgb(66, 200, 66);
  border-radius: 40px;
  position: fixed;
  box-shadow:1px 2px 5px grey ;
  z-index: 999;
}
.homepage-watsap::after{
  content: "@";
  color: white;
  background: red;
  width: 20px;
  height: 20px;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  margin-top: -70px;

}

.homepage-watsap span{
  color: black;
  margin-left: 20px;
}
.homepage-watsap:hover{
  background: rgb(30, 104, 30);
}